.downloadbtn {
  position: absolute;
  top: 6px;
  right: 34px;  /* push it left so copy button has space */
  padding: 2px 4px;
  background: #f6f8fa;
  border: #1b1f2426 1px solid;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, background 0.2s;
}

.downloadbtn:hover {
  background: #ddd;
}

div.highlight:hover .downloadbtn {
  opacity: 1; /* only show on hover */
}

.downloadbtn svg {
  vertical-align: middle;
}
