.highlight-yellow {
    background-color: #ffeb3b; /* Yellow */
}
.highlight-blue {
    background-color: #bbdefb; /* Light Blue */
}
.highlight-green {
    background-color: #c8e6c9; /* Light Green */
}
